* {
    box-sizing: border-box;
 }
 
 
 body {
    min-width: 300px;
    min-block-size: 100vb;
    background-color: #35579a;
    color: white;
 }
 
 
 .site-title {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 5.5rem;
    color: white;
 }
 
 
 .site-subtitle{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 2rem;
    color: white;
    font-weight: 400;
    font-size: 2rem;
 }
 
 
 .home-page {
    display: flex;
    text-align: center;
    flex-direction: column;
 }
 
 
 .announcements-container {
    display: flex;
    flex-direction: column;
    align-self:center;
    border: 1px #35579a;
 }
 
 
 .annoucement {
    font-family: "Varta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 2rem;
    border-radius: 5px;
    width: 40rem;
    margin: 1.5rem 6rem 1.25rem 6rem;
    background-color: white;
    display:flex;
    justify-content: column;
    color: #35579a;
 
 
 }
 
 
 .annoucement img {
    display: flex;
    border: 0.2rem solid black;
    width: 8rem;
    height: auto;
   
 }
 
 
 .announcement-header{
    color: #35579a;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
   
 }
 
 
 .announcement-header h3{
    padding-top: 2rem;
    font-size: 1.2rem;
 }
 .announcements-container h4{
    padding-top: 4rem;
    padding-left: 3rem;
    font-size: 2rem;
 }
 .slide {
    width: 30rem;
    height: 30rem;
    border: 2px solid white;
 }
