* {
    box-sizing: border-box;
 }
 
 
 body {
    min-width: 300px;
    min-block-size: 100vb;
    /* background-image: linear-gradient(to left bottom, hsl(226, 77%, 48%), hsl(224, 70%, 40%), hsl(223, 39%, 11%)); */
    background-color: #35579a;
    color: white;
 }
 
 
 .site-title {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 5.5rem;
    color: white;
 }
 
 
 .site-subtitle{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 2rem;
    color: white;
    font-weight: 400;
    font-size: 2rem;
 }
 
 .home-page {
    display: flex;
    text-align: center;
    flex-direction: column;
 }
 
 .announcements-container {
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
}

.announcement {
   background-color: white; /* Sets the background to white */
   padding: 16px;          /* Adds spacing inside the card */
   margin: 12px 0;         /* Adds spacing between cards */
   border-radius: 8px;     /* Rounds the corners slightly */
   width: 50%;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
   color: #35579a;
   display: flex;
   justify-content: space-around;
 }

 .announcement_img {
   width: 10rem;
   height: auto;
   border: .2rem solid black;
 }

.announcement-header{
   /* color: #35579a; */
   display:flex;
   flex-direction: column;
   justify-content:flex-start;
  
}


.announcement-header h3{
   padding-top: 1rem;
   font-size: 1.2rem;
}
.announcements-container h4{
   padding-top: 4rem;
   padding-left: 3rem;
   font-size: 2rem;
}

 /*
 @media screen and (max-width: 940px){
    .nav {
        flex-direction: column;
        gap: .25rem;
        padding-bottom: 1rem;
    }
 
 
    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
 
 
 } */
 