.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    background: white;
    padding: 2rem;
    border-radius: 5px;
    width: 300px;
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 5rem;
    right: 5rem;
    background: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }