
.nav {
    position: absolute;
    margin: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding-inline: 2rem;
    width: 200px;
    align-items: center;
   
}

.nav .logo img{
    display: block;
    margin: .75rem;
    width: 4rem;

}

.nav ul {
    color: hsl(224, 70%, 40%);
    background-color: hsl(231 83% 5%/50%);
    padding-top: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem; 
    height:100%;
}

.nav ul li{
    display: block;
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    
}

.nav ul li:hover{
    background-color: #f9f9f9;
}


.nav a {
    color: hsl(224, 65%, 53%);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav a:hover{
    color: hsl(0, 0%, 95%);
}