* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-block-size: 100vb;
    background-image: linear-gradient(to left bottom, hsl(226, 77%, 48%), hsl(224, 70%, 40%), hsl(223, 39%, 11%));
    color: hsl(0, 0%, 100%);
}

.site-title {
    font-size: 1.5rem;
}

.home-page {
    text-align: center;
}

.announcements-container {
    display: flex;
    justify-content: center;
}

.annoucement {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    margin: 1.5rem 6rem 1.25rem 6rem;
    width: 20rem;
}

.annoucement img {
    border: 1px solid black;
    border-radius: 5px;
    width: 10rem;
    height: auto;
}

.slide {
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
}

@media screen and (max-width: 940px){
    .nav {
        flex-direction: column;
        gap: .25rem;
        padding-bottom: 1rem;
    }

    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

}
.homework-card {
    background: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.homework-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.homework-description {
    flex: 0 0 50%;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.homework-text {
    flex: 0 0 20%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homework-images {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
    min-height: 150px;
}

.homework-images img {
    width: 100%;
    max-width: 200px;
    height: auto;
    min-height: 150px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.homework-card h2 {
    color: blue; 
    white-space: normal;
}

  .homework-card p {
    color: green;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.homework-description p {
    max-width: 600px; 
    white-space: normal;
    word-wrap: break-word;
    color: black
}

.homework-link {
    color: red;
}

.homework-images a {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.homework-images img:hover {
    transform: scale(1.05);
}

.homework-list-container {
    padding-left: 20px;
    padding-right: 20px;
}

.homework-heading{
    padding-left: 20px;
}
