* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-block-size: 100vb;
    background-image: linear-gradient(to left bottom, hsl(226, 77%, 48%), hsl(224, 70%, 40%), hsl(223, 39%, 11%));
    color: hsl(0, 0%, 100%);
}

.site-title {
    font-size: 1.5rem;
}

.home-page {
    text-align: center;
}

.announcements-container {
    display: flex;
    justify-content: center;
}

.annoucement {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    margin: 1.5rem 6rem 1.25rem 6rem;
    width: 20rem;
}

.annoucement img {
    border: 1px solid black;
    border-radius: 5px;
    width: 10rem;
    height: auto;
}

.slide {
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
}

@media screen and (max-width: 940px){
    .nav {
        flex-direction: column;
        gap: .25rem;
        padding-bottom: 1rem;
    }

    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

}