* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-block-size: 100vb;
    background-image: linear-gradient(to bottom right, hsl(320 87% 82%), hsl(265 85% 88%), hsl(231 83% 75%));
}

.site-title {
    font-size: 1.5rem;
}

.nav {
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: hsl(231 83% 5%/50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav .logo img{
    width: 4rem;
}

.nav ul {
    color: hsl(265, 80%, 76%);
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.25rem; 
}

.nav a {
    color: hsl(265, 80%, 76%);
    text-decoration: none;
}

.home-page {
    text-align: center;
}

.annoucement {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    margin: 1.5rem 6rem 1.25rem 6rem;
    width: 20rem;
}

.annoucement img {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    width: 10rem;
    height: auto;
}

.slide {
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
}