* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-block-size: 100vb;
    background-image: linear-gradient(to left bottom, hsl(226, 77%, 48%), hsl(224, 70%, 40%), hsl(223, 39%, 11%));
    color: hsl(0, 0%, 100%);
}

.site-title {
    font-size: 1.5rem;
}

.nav {
    margin: 2rem;
    border-radius: .5rem;
    background-color: hsl(231 83% 5%/50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 2rem;
}

.nav .logo img{
    display: block;
    margin: .75rem;
    width: 4rem;
}

.nav ul {
    color: hsl(224, 70%, 40%);
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.25rem; 
}

.nav ul li{
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    background: hsl(223, 39%, 11%, 80%);
}

.nav a {
    color: hsl(224, 65%, 53%);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav a:hover{
    color: hsl(0, 0%, 95%);
}

.home-page {
    text-align: center;
}

.annoucement {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    margin: 1.5rem 6rem 1.25rem 6rem;
    width: 20rem;
}

.annoucement img {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    width: 10rem;
    height: auto;
}

.slide {
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
}

@media screen and (max-width: 940px){
    .nav {
        flex-direction: column;
        gap: .25rem;
        padding-bottom: 1rem;
    }

    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

}