* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.site-title {
    font-size: 1.5rem;
}

.nav {
    background-color: bisque;
    color: black;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    /* this may not be the best place to put it the font-size */
    font-size: 1.25rem; 
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.home-page {
    text-align: center;
}

.annoucement {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    margin: 1.5rem 6rem 1.25rem 6rem;
    width: 20rem;
}

.annoucement img {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    width: 10rem;
    height: auto;
}

.slide {
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
}